a {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .menu {
    display: block;
    width: 400px;
    border: 1px solid black;
    background-color: #eee;
    padding: 5px 0 5px 10px;
  }
  
  a.menu {
    color: black;
    text-decoration: none;
  }
  
  a.menu:hover {
    background-color: #DDD;
  }
  
  a.verde {
    color: green;
  }
  
  a.azul {
    color: blue;
  }
  
  a.rojo {
    color: red;
  }